@import "mixins";
@import "colors";   
@import "reset";
// import ide bez donje crtice. ako se nalaze u drugim folderima onda treba i folder ubaciti @import "boje/colors"

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

body {
    background: url(blur.jpg) no-repeat fixed;
    background-size: cover;
}

.flex-item:nth-of-type(1) {
    @include pravokutnik;
    @include obrub;
    background: $whiteC;
}

.flex-item:nth-of-type(2) {
    @include pravokutnik;
    @include obrub;
    background: $redS; 
}

.flex-item:nth-of-type(3) {
    @include pravokutnik;
    @include obrub;
    background: $yellowS;
}

@keyframes animacija {
    0% {
top: -80vh;
    }
   100% {
top:
   }
}

.flex-item {
    animation: animacija  1.5s ease-in-out 3s;
} 